extends layout
block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/van") Take me to Van
    br
    a(href="/logout") Logout