extends layout

block content
  h1= title

  - let vanid = toShow._id
  - let vanName = toShow.van_name
  - let vanSize = toShow.size
  - let vanCost = toShow.cost
  
  div.row(class='mb-2')
    div.mr-1 ID is
    div #{vanid}
  - let actionid = "/resource/van/" + vanid
  form(id='vanForm', action= actionid, method="GET")
    div.form-group
        label.vanAttr(for='vanname') Van Name
        input#vanname(type='text', name='name', value= name )
    div.form-group
        label.vanAttr(for='company') van company
        input#size(type='text', name='company', value= company )
    div.form-group
        label.vanAttr(for='price') van price
        input#cost(type='number', name='price', value= price )
    input(type="submit")

  script.
    document.forms['vanForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        //resp = "sample";
        console.log("sample")
        alert("Update failed " + error )
      });
    });